#docker-compose.yml

version: '2'
 
services:
  app:
    build:
      context:  ./
      dockerfile: Dockerfile
  https-portal:
    image: steveltn/https-portal:1
    ports:
      - '80:80'
      - '443:443'
    links:
      - app
    restart: always
    environment:
      DOMAINS: 'jasondejesuz.com -> http://app:5000'
      STAGE: 'production'