<div id="error_page">
    <div id="light">
        <img src="~/images/light_green.jpg"/>
    </div>
    <div id="error">
        <h1>404</h1>
        <p>Are you sure this is the page you were looking for?</p>
    </div>
    <div id="beach">
        <img src="~/images/beach.jpg"/>
    </div>
</div>

    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/contact.js"></script>