    <div id="tgear">
        <h1>My Tech Gear</h1>
        <p>Below is lists of my Software, Computer and Camera Equipment that i am using in my daily life.</p>
        <p>As an Amazon Associate, i earn on all qualifying purchases of products listed below.</p>
        <div id="" class="parts">
            <div id="" class="left">
                <h2>Software</h2>
                <hr class="underline"></hr>
            </div>
            <div id="" class="right">
                <ul style="list-style-type: none;">
                    <li><a href="https://www.apple.com/za/macos/mojave/" target="_blank">MAC OSX</a></li>
                    <li><a href="https://www.ubuntu.com/download/desktop" target="_blank">Linux UBUNTU</a></li>
                    <li><a href="https://www.adobe.com/africa/creativecloud/plans.html?promoid=CJ132JRD&mv=other" target="_blank">Adobe Creative Cloud Individual</a></li>
                    <li><a href="https://www.adobe.com/africa/creativecloud/plans.html?promoid=CJ132JRD&mv=other" target="_blank">Adobe Premier CC</a></li>
                    <li><a href="https://www.adobe.com/africa/creativecloud/plans.html?promoid=CJ132JRD&mv=other" target="_blank">Adobe Photoshop CC</a></li>
                    <li><a href="https://www.adobe.com/africa/creativecloud/plans.html?promoid=CJ132JRD&mv=other" target="_blank">Adobe Illustrator</a></li>
                    <li><a href="https://code.visualstudio.com/download" target="_blank">Visual Studio Code</a></li>
                    <li><a href="https://atom.io/" target="_blank">Atom</a></li>
                    <li><a href="https://www.getpostman.com/downloads/" target="_blank">Postman</a></li>
                    <li><a href="http://referral.pluralsight.com/mQfaUsC" target="_blank">Pluralsight</a></li>
                </ul>
            </div>
        </div>
        <div id="" class="parts">
            <div id="" class="left">
                <h2>Computer</h2>
                <hr class="underline"></hr>
            </div>
            <div id="" class="right">
                <ul style="list-style-type: none;">
                    <li><a href="https://amzn.to/2ZrPplo" target="_blank">Apple Macbook Pro Mid 2015</a></li>
                    <li><a href="https://amzn.to/2DuHSJn" target="_blank">Dell SE2719H Monitors</a></li>
                    <li><a href="https://amzn.to/2Duc2Mx" target="_blank">Logitech G502 Mouse</a></li>
                    <li><a href="https://amzn.to/2DFAVVZ" target="_blank">Corsair K70 Mechanical Keyboard</a></li>
                </ul>
            </div>
        </div>
        <div id="" class="parts">
            <div id="" class="left">
                <h2>Photo and Video</h2>
                <hr class="underline"></hr>
            </div>
            <div id="" class="right">
                <ul style="list-style-type: none;">
                    <li><a href="https://amzn.to/2GAAixg" target="_blank">GoPro Hero 4</a></li>
                    <li><a href="https://amzn.to/2XAdrc7" target="_blank">Sony Alpha Nex5</a></li>
                    <li><a href="https://amzn.to/2Dw1EE4" target="_blank">Sony SEL30M35 30mm f/3.5 e-mount Macro Fixed Lens</a></li>
                    <li><a href="https://amzn.to/2Dq4OsT" target="_blank">Apple iPhone X</a></li>
                </ul>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/gear.js"></script>