@{
    ViewBag.Title = "Jason De Jesuz | Web Developer | Software Engineer | Designer";
}

<div id="body" class="container">
        <div class="inner-container">
            <div class="shape">
                <!-- About Me -->
                <div id="About">
                    <div id="About_div">
                        <div id="About_title_center">
                            <h2>About Me</h2>
                            <hr id="about_underline"></hr>
                        </div>
                        <div class="abt">
                            <div class="inl" id="About_img">
                                <img src="~/images/me.JPG" alt="placeholder" width="250px" height="250px" style="text-align:center;" alt="Jason Animtation Pic"/>
                            </div>
                            <div class="inl" id="descrip">
                                <div>
                                    <p>
                                        Self-learning software engineering through research & development.
                                    </p>
                                    <p>
                                        Approaching the end of my high school career I started planning my future. I knew exactly what i would be studying in the year of 2017 and i 
                                        believed in a vision, but one day i was introduced to thread that talked about Google and how much Google is providing to the 
                                        world in terms of Software Development - immediately i had been caught by the world of Software Engineering. 
                                    </p>
                                    <p>
                                        After a couple of days of extensive research due to curiosity I found a child company of Alphabet Inc. named <a href="https://Deepmind.com" target="_blank"style="text-decoration: none; color: #ff4d4d;">Deepmind</a> - more specific a Artificial Intelligence 
                                        company. Little did i know that i would soon change my vision into the path of Software Engineering. 
                                    </p>
                                </div>
                                <div id="port_btn_div">
                                    <a href="#Journey" id="portfolio_btn">My Journey</a>
                                </div>
                        </div>
                    </div>
                </div>

                <!-- Skills -->
                <div id="Skills">
                    <div id="Skills_title_center">
                        <h2>Skills</h2>
                        <hr id="skills_underline"></hr>
                    </div>
                   <div id="languages">
                    <!-- TODO ADD SKILLS ICONS-->
                    <div class="lang">
                        <img src="~/images/html.png" alt="html langauge icon" />
                        <p id="lang1">HTML</p>
                    </div >
                    <div class="lang">
                        <img src="~/images/css.png" alt="css language icon" />
                        <p id="lang2">CSS</p>
                    </div>
                    <div class="lang">
                        <img src="~/images/js.png" alt="js language icon" />
                        <p id="lang3">Javascript</p>
                    </div>
                    <div class="lang">
                        <img src="~/images/cs.png" alt="c# language icon" />
                        <p id="lang4">CSharp</p>
                    </div>
                    <div class="lang">
                        <img src="~/images/sql.png" alt="sql langauge icon" width="48px" height="48px" />
                        <p id="lang4">TSQL</p>
                    </div>
                    <div class="lang">
                        <img src="~/images/ps.png" alt="photoshop icon" />
                        <p id="lang5">Photoshop</p>
                    </div>
                    <div class="lang">
                        <img src="~/images/ai.png" alt="illustrator icon" />
                        <p id="lang6">Illustrator</p>
                    </div>             
                </div>

                <!-- Journey -->
                <div id="Journey">
                    <div id="Journey_title_center">
                        <h2>Journey</h2>
                        <hr id="journey_underline"></hr>
                    </div>
                    <div>
                    <ul class="timeline">
                        <!-- Item 1 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag">Freelancing</span>
                                    <span class="time-wrapper"><span class="time">2019 - Present</span></span>
                                </div>
                                <div class="desc">In 2019 i took my first shot at Freelancing and providng my talents outside of my daily job.
                                    I decided to start freelancing on a contract basis - being able to develop simple and complex websites.
                                </div>
                            </div>
                        </li>
                    
                        <!-- Item 2 -->
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag">Daisy Business Solutions</span>
                                    <span class="time-wrapper"><span class="time">2018 - Present</span></span>
                                </div>
                                <div class="desc">My first employer. I got to see the corporate world from a fresh perspective.
                                    Working with laserfiche on a day to day basis using html/css/javascript - added to that i used C# for web services.
                                    Leading my own projects as well as work in a team when it is needed. I have experience in client facing and being able to
                                    deal with the clients directly.</div>
                            </div>
                        </li>
                    
                        <!-- Item 3 -->
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag">Belgium Campus ITVersity</span>
                                    <span class="time-wrapper"><span class="time">2017-2022</span></span>
                                </div>
                                <div class="desc">Bachelors Degree in Information Technology.
                                    Some important skills we are taught and testede on include
                                     - Full Stack Web Development / SQL / C# Application Development / Java Mobile Development / Software Project Management / Operation Research / Business Management.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- STATISTICS -->
                <div id="stats">
                    <div id="lines" class="st">
                        <div class="dest">
                                <img src="~/images/code.png" width="50" height="50" alt="Code Icon">
                        </div>
                        <p class="dest">Lines of code</p>
                        <hr class="stats_underline"></hr>
                        <p class="des" data-count="20000">0</p>
                    </div>
                    <div id="hours" class="st">
                        <div class="dest">
                                <img src="~/images/hours.png" width="50" height="50" alt="Hours Icon">
                        </div>
                        <p class="dest">Hours of Coding</p>
                        <hr class="stats_underline"></hr>
                        <p class="des" data-count="1100">0</p>
                    </div>
                    <div id="years" class="st">
                        <div class="dest">
                                <img src="~/images/book.png" width="50" height="50" alt="Book Icon">
                        </div>
                        <p class="dest">Years Experience</p>
                        <hr class="stats_underline"></hr>
                        <p class="des" data-count="3">0</p>
                    </div>
                </div>

                <pre></pre>
                <!-- VENTURES -->
                <div id="ventures">
                    <div id="ventures_title_center">
                        <h2>Ventures (Self-Learn)</h2>
                        <hr id="coming_underline"></hr>
                    </div>
                    <div class="comingcenter parts">
                        <div id="software_title" class="left">
                            <h2>Software Development</h2>
                            <hr class="underline"></hr>
                        </div>
                    
                        <div id="software_description" class="right noncenter">
                            <p>Cross-Platform App Development</p>
                            <p>CPU bound business logic</p>
                            <p>Embedded IOT Programming</p>
                            <p>Cloud Computing</p>
                            <p>Microservices</p>
                            <p>API's</p>
                            <p>Full stack Web Apps</p>
                            <p>File Servers</p>
                            <p>Scalable Distributed Systems</p>
                            <p>Machine Learning/AI</p>
                        </div>
                    </div>
                    <div class="comingcenter parts">
                        <div id="electronics_title" class="left">
                            <h2>Electronics</h2>
                            <hr class="underline"></hr>
                        </div>
                        <div id="electronics_description" class="right noncenter">
                            <p>Electrical engineering</p>
                            <p>LED Music Visualizer</p>
                            <p>Robotics</p>
                            <p>Batteries</p>
                            <p>Embedded Systems</p>
                        </div>
                    </div>
                    <div class="comingcenter parts">
                        <div id="video_title" class="left">
                            <h2>Video</h2>
                            <hr class="underline"></hr>
                        </div>
                        <div id="video_description" class="right noncenter">
                            <p>Good Quality visuals and editing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

        <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="~/js/main.js"></script>
